body {
  margin: 0;
  padding: 0;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  text-align: center;
  padding: 20px;
}

header img {
  max-width: 200px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use 100vh to cover the entire viewport height */
  background-color: rgb(0,0,0);
}

.description {
  text-align: center;
  color: #fff;
}

.description h1 {
  font-size: 36px;
}

.description p {
  font-size: 18px;
}
